body{
    background-color: rgba(190, 190, 190, 0.877);
    display: flex;
    flex-direction: column;
    align-items:  center;
    color: white;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    border-radius: 15px;
    margin-top: 5vh;
    padding: 30px;
    height: 20vh;
    width: 60vw;
    background-color: rgb(39, 146, 247);
}

section{
    min-height: 20vh;
    width: 60vw;
    padding: 30px;
    margin-top: 10vh;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(39, 146, 247);
}

button{
    background-color: white;
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bolder;

}